*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}



.grid {
    max-width: 960px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.card {
    position: relative;
    -webkit-transition: all .4s linear;
    -o-transition: all .4s linear;
    transition: all .4s linear;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    margin: 5px;
}

.card,
.back,
.front {
    height: 150px;
    width: 150px;
}

.back,
.front {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.front {
    background: #fff url('../img/icon.png') no-repeat center center / contain;
}

.back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.selected {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.StateBar {
    border: 2px solid grey;
    background-color: grey;
    width: 350px;
    margin: auto;
    margin-bottom: 5px;

}

#spanPoint,
#timer{
    padding: 10px;
    color: white;
    font-size:30px; 
    font-family: 'Limelight', cursive;
    width: 60px;
}



#soundbtn{
    float: right;
    color:#fff;
    background-color: darkgrey;
    font-size:21px; 
    font-family: 'Limelight', cursive;
}

#soundbtn:active{
    color: darkgray;
    background-color: #fff;
}

.homebtn{
    position: absolute;
    left: 0;
    color:#fff;
    background-color: darkgrey;
    font-size:21px; 
    font-family: 'Limelight', cursive;
    border: 4px solid black;
}

.homebtn:active{
    color: darkgray;
    background-color: #fff;
    border: 4px solid black;
}